<% @chat.messages.each do |m| %>
<div id="chatbox">
  <%= m.content %>
  <%#= m.created_at %>

</div>
<% end %>
<br>
<%= form_for @message, url: messages_path(chat_id: @chat), remote: true, html: { method: :post } do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
