<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chat.title %>
</p>
<%= render 'show_messages'%>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
