<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @chat.title %>
</p>
<div>
  <%#= @message.content %>
  <%= render partial: 'show_messages', locals: {message: @message}%>
</div>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
